* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
p, a{
    font-family: "Inter", sans-serif;
}

body{
    max-width: 1440px;
    display: #fff;
}


/*===========================common css============================ */
.container{
    max-width: 90%;
    margin: 50px auto;
}
.hide{
    display: none;
}

.heading p {
    font-family: "poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}







/* ====================       common css end         ==================== */

#header_container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;}
.logo img {
    max-width: 122.63px;
}



/* ====================       hero section         ==================== */



#hero_section{
    background: #FEEAE9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;
    border-radius: 20px;

}
.hero_cont * {
    margin-bottom: 20px;
}
.hero_cont h2 {
    font-size: 56px;
    font-weight: bold;
}
.hero_cont p {
    font-size: 16px;
    line-height: 26px;
    max-width: 496px;
    color: #4E4E4E;
}
.hero_cont .hero_price {
    font-size: 32px;
    font-weight: 500;
    color: #FF136F;
}
.hero_cont .hero_btn{
    background: #ff2279;
    color: #fff;
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 6px;
    border: 2px solid #ff2279;
    text-transform: uppercase;
}
.hero_cont .hero_btn:hover{
    background: #fff;
    color: black;
    transition: all 1s;
}



/* =========================== =   
   categories section      
   ============================= */

.cate_cont{
    display: flex ;
    justify-content: space-between;
    gap: 26px;
}
.cate_item{
    background: #FF9C35;
    display: flex;
    width: 399px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 15px;
}
.pink{
    background: #FF136F;
}
.blue{
    background: #3F07F8;
}
.cate_item h6{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}
.cate_item img {
    width: 68.21;
}





/* ==============================================
product section 
================================================= */
#product_section{
    margin-top: 50px;
}
#product_section2{
    margin-top: 50px;
}

.product_cont{
    display: flex;
    justify-content: space-between;
    gap: 24px;

}
.product_item{
    padding: 24px;
    border: 2px solid #929292;
    border-radius: 20px;
    max-width: 360px;
}
.product_item .cont *{
    margin-bottom: 20px;
}
.product_item .cont{
    text-align: center;
}
.product_item .cont h3 {
    font-size: 24px;
    font-weight: 600;
    color: #1F1F1F;

}
.product_item .cont p {
    font-size: 16px;
    line-height: 26px;
    color: #4E4E4E;

}
.product_item .cont .pdct_price {
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #000;

}
.cont .buy_now{
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 25px 0 25px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-bottom: 0;

}
.cont .buy_now:hover{
    background: #FF136F;
}





/* =====================================
newsletter section
======================================== */

#newsletter_section{
    background: #FFF2F1;
    padding: 146px 246px;
    text-align: center;
    border-radius: 20px;
}

.newsletter_section *{
 margin-bottom: 10px;
}
.newsletter_section .top{
    font-size: 29px;
    color: #1F1F1F;
    font-weight: 500;
}
.newsletter_section p{
    font-size: 17px;
    font-weight: 500;
    color: #707070;
}

form{
    margin-top: 20px;
}
input[type=email]{
    width: 500px;
    padding: 20px 30px;
    border-radius: 8px 0 0 8px;
    border: none;
    font-size: 22px;
    color: #cccccc;
}
input[type=button]{
    
    padding: 20px 40px;
    border-radius: 0  8px 8px 0;
    border: none;
    font-size: 22px;
    color: #fff;
    background: #FF136F;
    margin-left: -10px;
}






/* =================================================
responsive design
==================================================== */

/* =================================================
            993-1200
==================================================== */

@media  screen and (max-width:1200px) {
    .hero_cont h2 {
    font-size: 39px;
    font-weight: bold;
}
#hero_section {
    gap: 20px;
}
.product_cont{
    flex-wrap:wrap;
}
.product_item{
    max-width: 48%;
}
#newsletter_section{
    padding: 70px 10px;
}
input[type=email]{
    max-width: 400px;

}
}



/* =================================================
            641-992
==================================================== */

@media  screen and (max-width:992px) {
   #hero_section {
    flex-direction: column;
   } 
   .hero_cont{
    text-align: center;
   }
   .heading{
    text-align: center;
   }
   .cate_cont{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }
   .cate_item{
    width: auto;
   }
   .product_item {
    max-width: 47%;
   }
   .product_item img {
    max-width: 100%;
   }
   input[type=email]{
    max-width: 300px;
    font-size: 16px;
    padding: 14px 30px;
}
   input[type=button]{
    font-size: 16px;
    padding: 14px 30px;
}
}








/* =================================================
            300-640
==================================================== */

@media  screen and (max-width:640px) {
    #hero_section{
        padding: 20px;
    }
    .hero_cont h2{
        font-size: 32px;
    }
    .hero_cont p{
        font-size: 14px;
        line-height: 22px;
    }
    .hero_cont .hero_price {
        font-size: 24px;
    }
    .hero_img img{
        max-width: 100%;
    }
    .cate_item{
        flex-direction: column;
        gap: 30px;
        padding: 30px ;
    }
    .cate_item{
    width: 100%;
   }
   .product_item {
    max-width: 100%;
    padding: 20px;
   }
   .product_item .cont h3 {
    font-size: 20px;
   }
   .product_item .cont p{
    font-size: 14px;
    line-height: 22px;
   }
   #newsletter_section {
    padding: 80px 20px;
   }
   .newsletter_section .top {
    font-size: 20px;
   }
   .newsletter_section p {
    font-size: 12px;
   }
    input[type=email]{
    max-width: 70%;
    font-size: 12px;
    padding: 14px 20px;
}
   input[type=button]{
    font-size: 12px;
    padding: 14px 19px;
    font-weight: bold;
}
}